/* Geral */
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    background-color: #f2f4ff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Cabeçalho */
.header {
    width: 100%;
    background-color: #002060;
    color: white;
    padding: 20px;
    text-align: center;
}

.header h1 {
    margin: 0;
}

/* Container principal */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

/* Formulário de cadastro */
.register-form {
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.register-form h2 {
    margin-bottom: 20px;
    text-align: center;
}

.register-form label {
    margin-bottom: 5px;
    font-weight: bold;
}

.register-form input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

.register-form button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #002060;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
}

.register-form button:hover {
    background-color: #001d4d;
}

/* Estilo para o link de login */
.register-form p {
    text-align: center;
    margin-top: 15px;
}

.register-form a {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}

.register-form a:hover {
    text-decoration: underline;
}

.checkbox {
    display: flex; /* Flex para o label */
    align-items: center; /* Alinha o checkbox e o texto verticalmente */
    font-size: 14px; /* Tamanho da fonte para os labels */
}

.checkbox input {
    margin-right: 5px; /* Espaço à direita do checkbox */
}

.checkbox-group {
    display: flex; /* Usar flexbox para alinhar os itens */
    justify-content: space-between; /* Espaçar uniformemente */
    margin-bottom: 15px; /* Espaço abaixo do grupo de checkboxes */
}

.nav-button {
    padding: 10px 20px;
    border: none;
    background-color: #f0f0f0;
    cursor: pointer;
    margin: 5px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.nav-button.active {
    background-color: #5ca0ff; /* Cor para o botão ativo */
    color: white;
}