body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.header {
    background-color: #002060;
    color: #fff;
    padding: 15px;
    text-align: center;
}

.container {
    max-width: 1060px;
    height: 520px;
    margin: 0 auto;
    margin-top: 40px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius:10px ;
}

h2 {
    text-align: center;
    color: #333;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 100px;
    margin-top: 20px;
}

.form-container {
    text-align: center;
    width: 1050px;
    height: 250px;
}

textarea {
    width: 90%;
    padding: 30px;
    margin: 20px 0;
    border: 3px solid #ccc;
    border-radius: 5px;
    resize: none;
}

button {
    padding: 10px 20px;
    border: none;
    background-color: #002060;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #315cb2;
}

.nav-buttons {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    flex-wrap: wrap;
}

.nav-button {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #eee;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.nav-button:hover {
    background-color: #ddd;
}

.nav-button.active {
    background-color: #002060;
    color: #fff;
}

.nav-button svg {
    width: 24px;
    height: 24px;
}

.nav-button .text {
    font-size: 16px;
}
