/* Estilos Gerais */
body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

/* Cabeçalho */
.header {
    background-color: #002060;
    color: #fff;
    padding: 15px;
    text-align: center;
    width: 100%;
}

/* Container Principal */
.container {
    width: 100%;
    max-width: 1400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
}

/* Seletor de Setor */
.sector-selector {
    margin-bottom: 20px;
}

/* Estilos do Seletor e Botão */
.sector-selector select,
.submit-button {
    padding: 10px;
    font-size: 16px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Botão de Confirmar */
.submit-button {
    background-color: #002060;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submit-button:hover {
    background-color: #315cb2;
}

/* Quadro de Mensagens */
.message-board {
    display: flex;
    flex-wrap: wrap; /* Permite que os cartões se movam para a próxima linha se necessário */
    justify-content: space-around; /* Centraliza os cartões no quadro */
    gap: 10px;
    margin-top: 20px;
}

/* Título do Quadro de Mensagens */
#message-board-title {
    font-size: 20px;
    font-weight: bold;
    color: #002060;
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
}

/* Cartão de Mensagem */
.message-card {
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 15px;
    box-sizing: border-box;
    text-align: left;
    width: 250px; /* Define a largura fixa dos cartões */
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

/* Estilos de Texto */
.message-card h4 {
    margin: 0 0 10px;
    color: #002060;
}

.message-details {
    font-size: 14px;
    color: #333;
}

/* Botão de Confirmação de Recado */
.confirm-button {
    padding: 8px 12px;
    border: none;
    background-color: #002060;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 14px;
    margin-top: 10px;
}

.confirm-button:hover {
    background-color: #315cb2;
}

.confirm-button.confirmed {
    background-color: #4CAF50; /* Verde para indicar confirmação */
    cursor: default;
}

/* Media Queries para Responsividade */
@media (max-width: 800px) {
    .container {
        padding: 10px;
    }

    .message-card {
        width: calc(50% - 20px); /* Reduz para 2 cartões por linha em telas médias */
    }
}

@media (max-width: 500px) {
    .message-card {
        width: 100%; /* Um cartão por linha em telas pequenas */
    }
}
